<section class="enter-task">
  <form [formGroup]="inputForm">

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter new task title..." formControlName="title">
      <div class="input-group-append">
        <button class="btn btn-success" *ngIf="!isUpdateMode" (click)="enterTask()" [disabled]="!inputForm.valid">Add Task</button>
        <button *ngIf="isUpdateMode" class="btn btn-primary" (click)="onUpdateTask()" [disabled]="!inputForm.valid">Update Task</button>
      </div>
    </div>
  </form>
</section>


  <!-- <input type="text" placeholder="Enter new task title..." formControlName="title">
  <button class="btn btn-success" *ngIf="!updateTask" (click)="enterTask()" [disabled]="!inputForm.valid">Add Task</button>
  <button *ngIf="updateTask" (click)="onUpdateTask()" [disabled]="!inputForm.valid">Update Task</button> -->

